<div class="container">
   Hello {{title}}
  Work : {{work}}
  <br>
  <h1>{{book.bookId}}</h1>
  bookName :
  <div class="col-md-5">
  <input  class="form-control" type="text" value={{book.bookName}}>
    </div>
  Price : <div class="col-md-5"> 
    <input type="text"  class="form-control" value={{book.price}}>
  </div>
  Genre : <div class="col-md-5"> 
    <input type="text"  class="form-control"  value={{book.genre}}>
    </div>
</div>
<a href="test">test</a>
<app-books-component ></app-books-component>
